body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: #0b3b3b; */
  box-shadow: inset 0px -15px #bdc4b3, inset 0px 15px #bdc4b3;
}

h1,
h2,
h3,
h4,
ul,
p,
blockquote,
dd {
  margin: 0px;
}

img[src$=".jpg"] {
  border-radius: 4px;
}

a {
  text-decoration: none;
}

ul {
  padding: 0px;
  list-style: none;
}
