.container {
  max-width: 1200px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 70px;
  padding-right: 70px;
}

.botao {
  display: inline-block;
  height: 16px;
  width: 20px;
  padding: 33px 11px;
  background: #bdc4b3;
  border-radius: 4px;
  /* max-width: max-content; */
}

@media (max-width: 600px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
