.inicio-bg {
  background: #bdc4b3;
  box-shadow: inset 0 -125px #0b3b3b;
}

.inicio {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 40px;
}

.inicio img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.inicio-conteudo {
  align-self: end;
  padding-bottom: 200px;
}

.inicio-conteudo h1 {
  margin-bottom: 32px;
}

.inicio-conteudo h1 {
  font-family: "Poppins";
  font-size: 48px;
  font-weight: bold;
  color: #0b3b3b;
  position: relative;
}

.inicio-conteudo span {
  position: absolute;
  font-family: "Poppins";
  font-size: 13px;
  font-weight: 400;
  bottom: 0px;
}

.inicio-conteudo p {
  font-family: "Poppins";
  color: #0b3b3b;
  font-size: 20px;
  font-weight: 400;
}

@media (max-width: 1000px) {
  .inicio {
    grid-template-columns: auto;
  }
  .inicio img {
    width: 100%;
    height: 500px;
  }
  .inicio-conteudo {
    padding-bottom: 50px;
    padding-top: 50px;
  }

  .inicio-conteudo h1,
  .inicio-conteudo p {
    text-align: center;
  }
}

@media (max-width: 600px) {
  .inicio img {
    width: 100%;
    height: 260px;
  }
  .inicio-conteudo h1 {
    font-size: 2rem;
  }
  .inicio-conteudo span {
    display: none;
  }
}
